.snackbar {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 50;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  width: 80%;
  text-align: center;
  animation: fadeIn 1s;

  > p {
    margin-right: auto;
    margin-left: auto;
  }

  &--info {
    background-color: var(--primary);
  }

  &--success {
    background-color: var(--tertiary);
  }

  &--error {
    background-color: var(--error);
  }
}