.transaction {
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 20px;

  &__card {
    &--deposit {
      border-color: var(--tertiary);
    }

    &--withdrawal {
      border-color: var(--error);
    }

    &--payment {
      border-color: var(--primary);
    }
  }
}