use Mix.Config

config :bank, Bank.Repo,
  username: "postgres", # Your pg user
  password: "postgres", # Your pg password
  database: "bank_dev", # Your pg database name
  hostname: "localhost", # Your pg hostname
  show_sensitive_data_on_connection_error: true,
  pool_size: 10


config :bank, Bank.Endpoint,
  http: [
    port: String.to_integer(System.get_env("PORT") || "4000"),
    transport_options: [socket_opts: [:inet6]]
  ],
  secret_key_base: "" # Your secret_key_base. You can generate one with mix phx.gen.secret
